<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>category</key>
            <string>usesr</string>
            <key>username</key>
            <string>kate</string>
            <key>password</key>
            <string>456</string>
        </dict>
        <dict>
            <key>category</key>
            <string>user</string>
            <key>username</key>
            <string>joe</string>
            <key>password</key>
            <string>123</string>
        </dict>
    </array>
</plist>
